body {
  background-color: #e6ecdf;
}

.main-container {
  margin: 30px;
}

.cities-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 5px;
}

.cities-container::-webkit-scrollbar {
  display: none; /* hides the scrollbar */
}

.input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 7.5px;
}

.input-field {
  margin-right: 3px;
  font-size: medium;
}

.add-button {
  color: #293b0c;
  font-size: large;
  border: none;
  background-color: transparent;
}

.city-header-container {
  text-align: center;
}

#city-name {
  color: #556b2f;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 2px;
}

#city-temperature {
  color: #7c9551;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 3.5px;
  margin-left: 10px;
}

.weather-log-container {
  margin: 20px;
  padding-top: 1px;
  text-align: center;
}

.day-header {
  font-size: 1.75em;
  margin-bottom: 15px;
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  background-color: #7c95518c;
  border-radius: 15px;
  padding: 12.5px 17.5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.current-hour-row {
  color: #e6ecdf;
  font-weight: bold;
}

.hour {
  text-align: right;
  font-weight: bold;
  padding-right: 11px;
  padding-bottom: 5px;
}

.temp {
  padding-bottom: 5px;
}

.loading-screen {
  display: flex;
  justify-content: center;
  font-size: 28px;
  padding-top: 40px;
}